<nav>
    <ul>
        <li>
            <a routerLink="">
                <app-nav-cards>
                    <!-- <h3 title>Greetings</h3> -->
                </app-nav-cards>
            </a>
        </li>
        <li>
            <a routerLink="">
                <app-nav-cards>
                    <!-- <h3 title>Greetings</h3> -->
                </app-nav-cards>
            </a>
        </li>
        <li>
            <a routerLink="">
                <app-nav-cards>
                    <h3 title>Greetings</h3>
                </app-nav-cards>
            </a>
        </li>
    </ul>
</nav>