<nav>
    <ul>
        <li>
            <a routerLink="">
                <app-nav-cards>
                    <h4 title>Greetings</h4>
                </app-nav-cards>
            </a>
        </li>
        <li>
            <a routerLink="">
                <app-nav-cards>
                    <h4 title>Greetings</h4>
                </app-nav-cards>
            </a>
        </li>
        <li>
            <a routerLink="">
                <app-nav-cards>
                    <h4 title>Greetings</h4>
                </app-nav-cards>
            </a>
        </li>
    </ul>
</nav>