@import '/src/styles/variables.scss';

// ul {
//     position: fixed;
//     bottom: 10px;
//     left: calc($mobile-card-w/2 + $mobile-gap);
//     list-style: none;
//     display: flex;
//     align-items: center;
//     gap: $mobile-gap;
// }

// @media(min-width:$tablet){
//     ul {
//         left: calc($tablet-card-w + $tablet-gap*3);
//         gap: $tablet-gap;
//     }
// }

// @media(min-width:$desktop){
//     ul {
//         left: calc($desktop-card-w*2);
//         gap: $tablet-gap;
//     }
// }

nav {
    position: fixed;
    right: 10px;
    bottom: 10px;
    overflow: hidden;
    border-radius: $border-radius;
    z-index: 9999;
    // padding: $mobile-p;
    width: 90%;
    height: calc($mobile-card-h + 50px);

    display: flex;
    align-items: center;
    justify-content: center;

    /*Time for some styling*/
    // margin: 100px auto;
    // box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    // -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    // -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    ul {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: $border-radius;
        /*This will give ample space to the last item to move
        instead of falling down/flickering during hovers.*/

        // &:hover{
        //      li {width: 40px;}
        // }

        li {
            position: relative;
            display: block;
            width: 80px;
            border-radius: $border-radius;
            // float: left;

            // box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
            // -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
            // -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);

            /*Transitions to give animation effect*/
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            /*If you hover on the images now you should be able to 
            see the basic accordian*/

            &:hover {
                width: calc($mobile-card-w + 10px);
            }
        }
    }
}

@media(min-width:$tablet) {
    nav {
        // width: calc($desktop);
        height: calc($tablet-card-h + 50px);

        ul {
            justify-content: end;

            // width: $desktop;
            li {
                width: 200px;
                &:hover {
                    width: calc($tablet-card-w + 20px);
                }
            }
        }

    }
}

@media(min-width:$desktop) {
    nav {
        // width: calc($desktop);
        height: calc($desktop-card-h + 50px);

        ul {
            justify-content: end;

            // width: $desktop;
            li {
                width: 150px;

                &:hover {
                    width: calc($desktop-card-w + 20px);
                }
            }
        }

    }
}