@keyframes zoomIn{
    from{
        transform: scale(1);

    }
    to{
        transform: scale(1.05);
    }
}

@keyframes zoomOut{
    from{
        transform: scale(1.05);
    }
    to{
        transform: scale(1);
    }
}