// COLORS:
$bg-color: #001000;
$white: #FFFFFF;
$silver: #C0C0C0;
$light-green: #008800;
$dark-green: #005500;

// SIZING:
$mobile: 480px;
$tablet: 768px;
$desktop: 1025px;

$mobile-card-w: 125px;
$mobile-card-h: 200px;
$tablet-card-w: 250px;
$tablet-card-h: 400px;
$desktop-card-w: 350px;
$desktop-card-h: 200px;

$mobile-p: 10px;
$tablet-p: 15px;
$desktop-p: 10px;

$mobile-gap: 10px;
$tablet-gap: 15px;
$desktop-gap: 10px;

$border-radius:15px;

