<app-main-background></app-main-background>
<app-navbar></app-navbar>
<main>
    <h1>Title</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique nihil odit ducimus consequuntur quo eos error magni et, consequatur ipsa earum unde eum aperiam, assumenda natus inventore, animi aspernatur voluptas.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea eius nobis cum saepe accusantium laboriosam fugiat ut eligendi, nostrum quidem non reiciendis eaque, tempora id aperiam. Ab vero officiis veritatis!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus vero totam corrupti animi fuga quidem error voluptates quae necessitatibus nulla, aliquam saepe, quibusdam debitis fugiat temporibus. Error consequatur hic veritatis?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, eaque. Odit esse illum deserunt nihil vitae fuga, atque sed exercitationem doloremque in beatae tenetur provident fugit molestiae, ut saepe excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ratione culpa praesentium repellat. Porro eaque eum esse consectetur, ullam dolore quasi rerum, optio aliquam sapiente odio deleniti temporibus quis quia.
    </p>
</main>